<div class="card px-3 py-2 d-flex" [class.text-success]="isFinished">
  <div class="row align-items-center">
    <div class="col-8">
      <div>
        Time until: {{ targetTime | date: 'HH:mm' }}
      </div>
      <div class="display-4">
        {{ timeUntilString }}
      </div>
    </div>
    <div class="col-4 text-right">
      <button (click)="editTime.emit()"
              class="btn btn-light mr-1 my-1">
        Edit
      </button>
      <button (click)="deleteTime.emit()"
              class="btn btn-danger my-1">
        Delete
      </button>
    </div>
  </div>
</div>
