<div class="container my-4">
  <h1>Countdown Until</h1>

  <div class="my-4">
    <app-countdown-input
      (add)="addItem($event)"
    ></app-countdown-input>

    <hr>

    <h4>Running countdown</h4>
    <ng-container *ngFor="let target of countdownList$ | async; let i = index">
      <ng-container *ngIf="target.isEdit; else editMode">
        <app-countdown-input
          class="d-block my-2"
          addLabel="Change"
          [showCancel]="true"
          (cancel)="target.isEdit = false"
        ></app-countdown-input>
      </ng-container>

      <ng-template #editMode>
        <app-countdown-display
          class="d-block my-2"
          (deleteTime)="deleteItem(i)"
          (editTime)="target.isEdit = !target.isEdit"
          [targetTime]="target.date">
        </app-countdown-display>
      </ng-template>
    </ng-container>
  </div>
</div>
